.smallContainer {
    width: 100%;
    /* position: fixed;
    display: none;
    top: 45vh;
    right: -25vw;
    margin-left: 10vw; */
    max-height: 20vh;
    overflow: auto;
  }

  .largeContainer {
    width: 50%;
    /* position: fixed;
    display: none;
    top: 45vh;
    right: -25vw;
    margin-left: 10vw; */
    max-height: 45vh;
    overflow: auto;
  }
  
  /* .visible {
    display: block;
  } */
  