* {
  box-sizing: border-box;
  list-style: none;
  /* letter-spacing: 0.18em; */
  /* font-size: .8rem; */
  font-size: 14px;
  font-weight: bold;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: rgb(232, 232, 238);
  background: linear-gradient(
    90deg,
    rgb(230, 232, 238) 0%,
    rgba(255, 255, 255, 0.9948354341736695) 36%,
    rgb(205, 225, 230) 100%
  );
  margin: 0;

  font-family: AvenirNextLTW01-Regular, Helvetica, Arial, sans-serif;

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
