.outerContainer {
    width: 55%;
    /* position: fixed;
    display: none;
    
    top: 45vh;
    right: -25vw;
    margin-left: 10vw; */
    max-height: 20vh;
    overflow: auto;
  }
  
  .visible {
    display: block;
  }
  