.label {
  font-size: 1rem;
  font-weight: 700;
  color: #1c1b1c;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: block;
  margin-bottom: 0.5rem;
}

.textarea {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  background: #f3f1f1;
  border: 1px solid #c1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  font-size: 1.2rem;
}

.textarea:focus {
  background-color: #e0e4fc;
  outline-color: teal;
}
